<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wildlife Sighting Tracker</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1>🦅 Wildlife Sighting Tracker</h1>
      <p>Documenting Canada's Amazing Wildlife</p>
    </header>
    <main>
      <div id="main-container">
        <section id="about-section">
          <h2>About Me</h2>
          <div id="about-content">
            <img id="myIMG" src="/images/mouseinwar.jpg" alt="not my image" />
            <div id="about-content-text">
              <h4>Hi Im Gurpreet</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Accusantium delectus a architecto soluta dolor non enim dicta
                mollitia asperiores earum. Ex accusamus amet dolore, esse, error
                perferendis officiis assumenda non quidem consequatur beatae
                laborum, quia quas! Officiis doloremque quae saepe.
              </p>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Perspiciatis quae labore odit nobis, neque culpa, eveniet
                quibusdam fugit aperiam possimus esse quaerat mollitia
                accusamus? Repellat laboriosam rerum facere officiis recusandae?
              </p>
            </div>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
